.cart {
  &-body {
    display: flex;
  }

  &-title {
    margin-bottom: 40px;
  }

  &-info {
    margin-bottom: 58px;
  }

  &-content {
    width: 100%;
  }

  &-disclaimer {
    font-size: 0.9em;
    font-weight: bold;
    padding: 26px 0;
  }
}
