@import '/src/assets/styles/variables';

.cart {
  &-header {
    padding-top: 36px;
    padding-left: 40px;
  }
  &-purchases {
    padding-left: 40px;
  }
  &-checkout {
    padding-top: 36px;
    padding-right: 40px;
    padding-left: 20px;
    min-width: 452px;
    min-height: 547px;
    width: 33%;
  }
  &-recommendations {
    padding-bottom: 36px;
    padding-left: 40px;
    margin-top: 150px;
  }

  &-disclaimer {
    font-size: 0.9em;
    font-weight: bold;
    margin: 26px 0;
    padding: 0 40px;
  }

  &-body {
    display: flex;
  }

  &-title {
    margin-bottom: 40px;
  }

  &-info {
    margin-bottom: 58px;
  }

  &-content {
    width: 100%;
  }
}

@media (max-width: $breakpoint-lg) {
  .cart {
    &-body {
      flex-direction: column;
    }
    &-header {
      padding-top: 36px;
      padding-left: 40px;
    }
    &-purchases {
      padding: 0;
      padding-right: 40px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
    &-checkout {
      width: 100%;
      padding: 40px;
      min-width: $min-width;
    }
    &-recommendations {
      margin-top: 80px;
    }
    &-disclaimer {
      padding: 28px 40px;
      background: #f0efea;
    }
  }
}
