.cart {
  padding: 40px;
  &-body {
    display: flex;
  }
  &-title {
    margin-bottom: 40px;
  }
  &-info {
    margin-bottom: 58px;
  }

  &-disclaimer {
    font-size: 0.9em;
    font-weight: bold;
    padding: 26px 0;
  }
}
